   /* ======================  STYLE GENGERAL  ===================== */
   
   * {
       padding: 0;
       margin: 0;
       box-sizing: border-box;
       font-family: inherit;
       text-decoration: none;
       outline: none;
       list-style: none;
   }
   
    :root {
       --block: #000;
       --dark-white: #ddd;
       --white: #fff;
       --light-gray: #f4f4f4;
       --blue: #0984e3;
       --red: red;
   }
   
   body {
       font-family: serif;
       background: var(--block);
   }
   /* ===========================  END GENGERAL  ===================  */
   /* ===========================  STYLE SECTION ===================== */
   
   section {
       max-width: 600px;
       margin: 1.5em auto;
       border-radius: 20px;
       background: var(--white);
   }
   
   .image {
       width: 100%;
       max-height: 100px;
   }
   
   .image img {
       width: 100%;
       height: 100%;
       max-height: 250px;
   }
   /* ===========================  STYLE HEADER ===================== */
   
   header {
       background: var(--light-gray);
       padding: 20px;
       display: flex;
       align-items: center;
       flex-direction: column;
   }
   
   header h1 {
       color: var(--white);
       font-size: 3em;
       margin-bottom: 20px;
       font-weight: 300;
   }
   
   header form input {
       font-size: .9em;
       padding: 6px 10px;
       border: 2px solid var(--dark-white);
   }
   
   header form input:hover {
       border: 2px solid var(--blue);
       transition: border 0.3s ease;
   }
   /* ===========================  STYLE MAIN ===================== */
   
   .app_content {
       padding-inline: 20px;
   }
   
   .app_content h2 {
       color: var(--blue);
       margin-block: 20px;
       font-size: 1.5em;
       font-weight: 400;
   }
   
   .app_list li {
       display: flex;
       justify-content: space-between;
       align-items: center;
       background: var(--light-gray);
       border-left: 5px solid var(--dark-white);
       padding: 10px;
       margin-bottom: 20px;
   }
   
   .app_list li:hover {
       border-left: 5px solid var(--blue);
       transition: border .3s ease;
   }
   
   .app_list li span {
       font-size: 1.2em;
   }
   
   .app_list li button {
       color: var(--white);
       background: var(--blue);
       opacity: 0;
       padding: 15px;
       border: none;
       cursor: pointer;
   }
   
   .app_list li button:hover {
       opacity: 1;
       transition: opacity 0.3s ease;
   }
   
   .text_red {
       font-size: 1.2em;
       color: var(--red);
   }
   
   .app_form form {
       display: flex;
       align-items: center;
       justify-content: center;
       margin-bottom: 30px;
   }
   
   .app_form form input {
       font-size: 1.5em;
       margin-bottom: 5px;
       border: 2px solid var(--blue);
   }
   
   .btn_add {
       color: var(--white);
       border: 2px solid transparent;
       background: #1a94f1;
       font-size: 1.25em;
       padding: 2px 10px;
       cursor: pointer;
       margin-bottom: 5px;
   }
   
   .btn_add:hover {
       transition: border 0.3s ease;
       background: var(--blue);
   }
   
   .clear {
       width: 100%;
       border: none;
       background: var(--blue);
       color: var(--white);
       font-size: 1.5em;
       cursor: pointer;
       padding: 10px;
   }
   
   .clear:hover {
       background: var(--red);
       transition: 0.3s ease;
   }
   /* ===========================  END SECTION ===================== */